{{define "profile_content"}}
<div class="card">
    <div id="profile-content" data-profile-id="{{.ProfileID}}">
        <div class="loading">Загрузка профиля...</div>
    </div>
    <script>
        window.currentUser = {{if .CurrentUser}}{
            id: {{.CurrentUser.ID}},
            email: "{{.CurrentUser.Email}}",
                firstName: "{{.CurrentUser.FirstName}}",
                lastName: "{{.CurrentUser.LastName}}",
                gender: "{{.CurrentUser.Gender}}"
        }{{else}}null{{end}};

        // Передаем ID профиля, который нужно открыть
        window.profileId = "{{.ProfileID}}";
        // Передаем флаг, является ли профиль своим
        window.isOwnProfile = {{.IsOwnProfile}};
    </script>
    <script src="/static/js/profile.js"></script>
</div>
{{end}}